* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #333;
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-image: url("https://media4.giphy.com/media/1WEnLc6uuLea1AgHHo/giphy.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid {
  position: absolute;
  width: 100vw;
  line-height: 0;
  column-count: 4;
  column-gap: 0px;
}

.grid-item img {
  width: 100%;
  height: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  color: transparent;
}

.expression-badge {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  background-color: #1b1f23;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  line-height: 1;
}

@media (max-width: 1200px) {
  .grid {
    column-count: 4;
  }
}

@media (max-width: 1000px) {
  .grid {
    column-count: 3;
  }
}

@media (max-width: 800px) {
  .grid {
    column-count: 2;
  }
}

@media (max-width: 400px) {
  .grid {
    column-count: 1;
  }
}

.github {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  background-color: #1b1f23;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;

  border: 2px solid transparent;
  transition: color 300ms;
}

.github svg {
  width: 20px;
  height: 20px;
}

svg path {
  transition: fill 300ms;
}

.github span {
  line-height: 1rem;
  margin-left: 10px;
}

.github:hover {
  color: #ffa300;
}

.github:hover svg path {
  fill: #ffa300;
}

.help-button {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: none;
  padding: 0;
  margin: 0;
  border: 0;
  padding: 10px 10px;
  background-color: #1b1f23;
  border-radius: 50%;
  cursor: pointer;
}

.help-button svg {
  width: 30px;
  height: 30px;
}

.help-button:hover svg path {
  fill: #ffa300;
}

.help-modal {
  z-index: 9999;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 720px;
  width: 100%;
  padding: 2rem 1rem;
  color: #fff;
}

.help-modal::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #1b1f23;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.help-modal ul {
  padding-left: 0;
  margin-bottom: 2rem;
  list-style-type: none;
}

.help-modal ul li {
  margin-bottom: 0.5rem;
}

.help-modal button {
  background-color: transparent;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 3px;
  border: 2px solid #fff;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  background-color: #fff;
  color: #333;
  transition: 200ms;
}

.help-modal button:hover {
  background-color: transparent;
  color: #fff;
}
